<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>みつからないよ・・・</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex justify-content-center align-items-center">
                <p role="alert">
                    <h1>ごめんね？</h1>
                </p>
                <p>
                    この機能にアクセスしても何もないよ？
                    多分機能が未実装だと思うの(´・ω・｀⊂)へ
                </p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
